{% extends "base.html.twig" %}

{% block title %}Book List{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ asset('css/booklist.css') }}">
{% endblock %}

{% block content %}
    <h1 class="text-center">Book List</h1>

    <form class="form-inline d-flex justify-content-center mt-4 mb-4">
        <input class="form-control mr-sm-2 w-50" type="search" placeholder="Search by name or author" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <div class="mt-4">
        <div class="row">
            {% for book in bookArray %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Book Cover">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text">{{ book.author }}</p>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
                            <a href="{{ path('book', {'id':book.id}) }}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!-- Add more book cards with descriptions as needed -->
        </div>
        <ul>
            {% for i in range(1, numberOfPages) %}

                {% if numberOfPages > 3%}
                    {% if i < 3 %}
                        <li><a href="">{{ i }}</a></li>
                    {% elseif i == numberOfPages %}
                        <li><a href="">{{ i }}</a></li>
                    {% elseif i == 3 %}
                        <li>...</li>
                    {% endif %}
                {% else %}
                    <li><a href="">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
