{% extends "base.html.twig" %}

{% block title %}Book List{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ asset('css/booklist.css') }}">
{% endblock %}

{% block content %}
    <h1 class="text-center">Book List</h1>


    {{ form_start(form) }}
        {{ form_row(form.searchTerm) }}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    {{ form_end(form) }}


    <div class="mt-4">
        <div class="row">
            {% for book in bookArray %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ book.cover }}" class="card-img-top" alt="Book Cover">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text">{{ book.author }}</p>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
                            <a href="{{ path('book', {'id':book.id}) }}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
        {% if search == false %}
            {% if 1 <= currentPage and currentPage <= numberOfPages %}
                <ul class="pagination">
                    {% if currentPage != 1 and numberOfPages > 1 and currentPage != numberOfPages%}
                        <li class="page-item"><a href=" {{ path('listofbooks', {'page': currentPage-1}) }}" class="page-link"><-</a></li>
                        <li class="page-item">page {{ currentPage }}/{{ numberOfPages }}</li>
                        <li class="page-item"><a href=" {{ path('listofbooks', {'page': currentPage+1}) }}" class="page-link">-></a></li>
                    {% elseif currentPage == numberOfPages and numberOfPages > 1%}
                        <li class="page-item"><a href=" {{ path('listofbooks', {'page': currentPage-1}) }}" class="page-link"><-</a></li>
                        <li class="page-item">page {{ numberOfPages }}/{{ numberOfPages }}</li>
                    {% elseif currentPage <= 1 and numberOfPages > 1%}
                        <li class="page-item">page 1/{{ numberOfPages }}</li>
                        <li class="page-item"><a href=" {{ path('listofbooks', {'page': currentPage+1}) }}" class="page-link">-></a></li>
                    {% elseif numberOfPages == 1 %}
                        <li class="page-item">page 1/{{ numberOfPages }}</li>
                    {% endif %}
                </ul>
            {% elseif currentPage < 1 or currentPage > numberOfPages %}
                <h2>Book page is not available</h2>
            {% endif %}
        {% elseif bookArray is empty %}
            <h2>No books corresponding to your search :(</h2>
        {% endif %}
    </div>
{% endblock %}
