{% extends "base.html.twig" %}

{% block title %}Libraries{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ asset('css/libraries.css') }}">
{% endblock %}

{% block content %}
    <h1 class="text-center">Participating Libraries</h1>

        {{ form(form) }}


        <div class="mt-4">
            <div class="row">
                {% for library in libraryArray %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ library.name }}</h5>
                                <p class="card-text">{{ library.address }}</p>
                                <p class="card-text">{{ library.city }}</p>
                                <p class="card-text">{{ library.email }}</p>
                                <p class="card-text">{{ library.website }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if search == false %}
                <ul class="pagination">
                    {% if currentPage != 1 and numberOfPages > 1 and currentPage != numberOfPages%}
                        <li class="page-item"><a href=" {{ path('listoflibraries', {'page': currentPage-1}) }}" class="page-link"><-</a></li>
                        <li class="page-item">page {{ currentPage }}/{{ numberOfPages }}</li>
                        <li class="page-item"><a href=" {{ path('listoflibraries', {'page': currentPage+1}) }}" class="page-link">-></a></li>
                    {% elseif currentPage == numberOfPages and numberOfPages > 1%}
                        <li class="page-item"><a href=" {{ path('listoflibraries', {'page': currentPage-1}) }}" class="page-link"><-</a></li>
                        <li class="page-item">page {{ numberOfPages }}/{{ numberOfPages }}</li>
                    {% elseif currentPage <= 1 and numberOfPages > 1%}
                        <li class="page-item">page 1/{{ numberOfPages }}</li>
                        <li class="page-item"><a href=" {{ path('listoflibraries', {'page': currentPage+1}) }}" class="page-link">-></a></li>
                    {% elseif numberOfPages == 1 %}
                        <li class="page-item">page 1/{{ numberOfPages }}</li>
                    {% endif %}
                </ul>
            {% elseif libraryArray is empty %}
                <h2>No libraries corresponding to your search :(</h2>
            {% endif %}
        </div>
        {% endblock %}
