{% extends "base.html.twig" %}

{% block title %}User Settings{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ asset('css/usersettings.css') }}">
    <script src="{{ asset('javascript/checkUserSettings.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center mb-4">User Settings</h2>
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.firstname, 'Name') }}
                        {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'id': 'firstName'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.lastname, 'Surname') }}
                        {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'id': 'lastName'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.birthday, 'Age') }}
                        {{ form_widget(form.birthday, {'attr': {'class': 'form-control', 'id': 'age'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.sex, 'Sex') }}
                        {{ form_widget(form.sex, {'attr': {'class': 'form-control', 'id': 'sex'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.favoriteLibrary, 'Favorite Library') }}
                    {{ form_widget(form.favoriteLibrary, {'attr': {'class': 'form-control', 'id': 'favoriteLibrary'}}) }}
                </div>
            </div>
{#            <div class="form-group">#}
{#                {{ form_label(form.favoriteBooks, 'Favorite Books') }}#}
{#                {{ form_widget(form.favoriteBooks, {'attr': {'class': 'form-control', 'id': 'favoriteBooks', 'rows': 3}}}) }}#}
{#            </div>#}
{#            <div class="form-group">
                {{ form_label(form.profilePicture, 'Profile Picture') }}
                {{ form_widget(form.profilePicture, {'attr': {'class': 'form-control-file', 'id': 'profilePicture'}}) }}
            </div>#}
            <div class="text-center mt-4">
                <button type="submit" id="submitBtn" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-secondary" onclick="window.history.back();">Discard Changes</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
